<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <p>Owner &copy; Altan Emre Demirci</p>
            </div>
            <div class="col-lg-4 text-center">
                <p>Tüm hakları saklıdır &copy; NoteProject @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="e-posta adresiniz" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-paper-plane btn-xs"></i> Gönder
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
